<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>GioHangServlet</servlet-name>
        <servlet-class>controller.GioHangServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DangKyServlet</servlet-name>
        <servlet-class>controller.DangKyServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DangNhapServlet</servlet-name>
        <servlet-class>controller.DangNhapServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ThanhToanServlet</servlet-name>
        <servlet-class>controller.ThanhToanServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchServlet</servlet-name>
        <servlet-class>controller.SearchServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SendMessageServlet</servlet-name>
        <servlet-class>controller.SendMessageServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpLoadCategoryServlet</servlet-name>
        <servlet-class>controller.UpLoadCategoryServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateCategoryServlet</servlet-name>
        <servlet-class>controller.UpdateCategoryServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteCategoryServlet</servlet-name>
        <servlet-class>controller.DeleteCategoryServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpLoadProduct</servlet-name>
        <servlet-class>controller.UpLoadProduct</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateProductServlet</servlet-name>
        <servlet-class>controller.UpdateProductServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteProductServlet</servlet-name>
        <servlet-class>controller.DeleteProductServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpLoadTypeNewServlet</servlet-name>
        <servlet-class>controller.UpLoadTypeNewServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateTypeNewServlet</servlet-name>
        <servlet-class>controller.UpdateTypeNewServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteTypeNewServlet</servlet-name>
        <servlet-class>controller.DeleteTypeNewServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpLoadNewServlet</servlet-name>
        <servlet-class>controller.UpLoadNewServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateNewServlet</servlet-name>
        <servlet-class>controller.UpdateNewServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteNewServlet</servlet-name>
        <servlet-class>controller.DeleteNewServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateTaikhoanServlet</servlet-name>
        <servlet-class>controller.UpdateTaikhoanServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpLoadUserServlet</servlet-name>
        <servlet-class>controller.UpLoadUserServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteUserServlet</servlet-name>
        <servlet-class>controller.DeleteUserServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ThongKeServlet</servlet-name>
        <servlet-class>controller.ThongKeServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateBillServlet</servlet-name>
        <servlet-class>controller.UpdateBillServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>GioHangServlet</servlet-name>
        <url-pattern>/GioHangServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DangKyServlet</servlet-name>
        <url-pattern>/DangKyServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DangNhapServlet</servlet-name>
        <url-pattern>/DangNhapServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ThanhToanServlet</servlet-name>
        <url-pattern>/ThanhToanServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchServlet</servlet-name>
        <url-pattern>/SearchServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SendMessageServlet</servlet-name>
        <url-pattern>/SendMessageServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpLoadCategoryServlet</servlet-name>
        <url-pattern>/UpLoadCategoryServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateCategoryServlet</servlet-name>
        <url-pattern>/UpdateCategoryServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteCategoryServlet</servlet-name>
        <url-pattern>/DeleteCategoryServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpLoadProduct</servlet-name>
        <url-pattern>/UpLoadProduct</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateProductServlet</servlet-name>
        <url-pattern>/UpdateProductServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteProductServlet</servlet-name>
        <url-pattern>/DeleteProductServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpLoadTypeNewServlet</servlet-name>
        <url-pattern>/UpLoadTypeNewServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateTypeNewServlet</servlet-name>
        <url-pattern>/UpdateTypeNewServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteTypeNewServlet</servlet-name>
        <url-pattern>/DeleteTypeNewServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpLoadNewServlet</servlet-name>
        <url-pattern>/UpLoadNewServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateNewServlet</servlet-name>
        <url-pattern>/UpdateNewServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteNewServlet</servlet-name>
        <url-pattern>/DeleteNewServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateTaikhoanServlet</servlet-name>
        <url-pattern>/UpdateTaikhoanServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpLoadUserServlet</servlet-name>
        <url-pattern>/UpLoadUserServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteUserServlet</servlet-name>
        <url-pattern>/DeleteUserServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ThongKeServlet</servlet-name>
        <url-pattern>/ThongKeServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateBillServlet</servlet-name>
        <url-pattern>/UpdateBillServlet</url-pattern>
    </servlet-mapping>
    
    
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    	
    <servlet>
    	<servlet-name>XuLyDangNhapAdmin</servlet-name>
    	<servlet-class>controller.admin.XuLyDangNhapAdmin</servlet-class>
    	<init-param>
    		<param-name>adminName</param-name>
    		<param-value>Tú</param-value>
    	</init-param>
    	<init-param>
    		<param-name>adminPass</param-name>
    		<param-value>123</param-value>
    	</init-param>
    </servlet>
    <servlet-mapping>
    	<servlet-name>XuLyDangNhapAdmin</servlet-name>
    	<url-pattern>/loginadmin</url-pattern>
    </servlet-mapping>
    
    
</web-app>
